<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="BancoDB" 
         connectionString="Host=aws-1-us-east-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.lybzfqxxsvwkprdbyjuu;Password=ModuloBanco2025;SSL Mode=Require;Trust Server Certificate=true;" 
         providerName="Npgsql" />
  </connectionStrings>
</configuration>
